<script>
  window.initMap = function () {
    const event = new Event('google-maps-callback', {
      bubbles: true,
      cancelable: true,
    })
    window.dispatchEvent(event)
  }
</script>
<%= form_for @cat, class: "space-y-8 divide-y divide-gray-200" do |f| %>
  <div class="space-y-8 divide-y divide-gray-200">
    <div>
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">Profile</h3>
        <p class="mt-1 text-sm text-gray-500">This information will be displayed publicly so be careful what you share.</p>
      </div>

      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-4">
          <label for="main_name" class="block text-sm font-medium text-gray-700"> Name </label>
          <div class="mt-1 flex rounded-md shadow-sm">
            <%= f.text_field 'main_name', class: "flex-1 focus:ring-blue-500 focus:border-blue-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
          </div>
        </div>

        <div class="sm:col-span-4">
          <label for="main_name" class="block text-sm font-medium text-gray-700"> Chip ID </label>
          <div class="mt-1 flex rounded-md shadow-sm">
            <%= f.text_field 'chip_serial', class: "flex-1 focus:ring-blue-500 focus:border-blue-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
          </div>
        </div>

         <div class="sm:col-span-4">
          <label for="main_name" class="block text-sm font-medium text-gray-700"> Location </label>
          <div class="mt-1 flex rounded-md shadow-sm" data-controller="places" data-action="google-maps-callback@window->places#initAutocomplete">
            <input
              type="text"
              data-action="keydown->places#preventSubmit"
              data-places-target="address"
              placeholder="Search a location"
              class="flex-1 focus:ring-blue-500 focus:border-blue-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300"
            />
            <%= f.hidden_field 'longitude', data: { 'places-target': 'longitude'} %>
            <%= f.hidden_field 'latitude', data: { 'places-target': 'latitude'} %>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label for="photo" class="block text-sm font-medium text-gray-700"> Picture </label>
          <div class="mt-1 flex items-center">
            <span class="h-12 w-12 rounded-full overflow-hidden bg-gray-100">
              <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
              </svg>
            </span>
            <%= f.file_field :picture, class: "ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5">
    <div class="flex justify-end">
      <button type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Cancel</button>
      <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Create</button>
    </div>
  </div>


<% end %>

